<div class="main-panel">
	<div class="content">
		<!-- Bread Crumb Start -->
		<div class="panel-header bg-white shadow-sm">
			<div class="page-inner  py-3 mb-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
					<div class="">
						<div class="header d-sm-flex align-items-center  text-center"> 
							<h1 class="page-header banner-title">Dashboard </h1>
							<ul class="breadcrumb justify-content-sm-start justify-content-center">
								  <li><a href="index.html"><i class="icon-home"></i></a></li>
								  <li><a href="index.html">Dashboard</a></li>
							</ul> 			
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bread Crumb End -->
		
		<div class="page-inner">
			<!-- Statistics data -->
			<div class="statistics">
			  <div class="row">
				<div class="col-xl-6">
				  <div class="row">
					<div class="col-sm-6 ">
					  <div class="statistics-grid card bg-light-primary px-4 py-3 py-sm-4">
						  <div class="d-flex justify-content-between align-items-center">
							<div class="statistics-icon">
								<i class="icon-basket"></i>
							</div>
							<div class="statistics-detail">
								<p class="stat-text">Total Orders</p>
								<h3 class="number"><%=totalOrder%><small> This Month</small></h3>
							</div>
						</div>
					
					  </div>
					</div>
					<div class="col-sm-6 ">
					  <div class="statistics-grid card bg-light-secondary px-4 py-3 py-sm-4">
						  <div class="d-flex justify-content-between align-items-center">
							<div class="statistics-icon">
								<i class="icon-credit-card"></i>
							</div>
							<div class="statistics-detail">
								<p class="stat-text">Total Sales </p>
								<h3 class="number"><%=totalSails%><small> This Month</small></h3>
							</div>
						</div>
						
					  </div>
					</div>
				  </div>
				</div>
				<div class="col-xl-6">
				  <div class="row">
					<div class="col-sm-6 ">
					  <div class="statistics-grid card bg-light-info px-4 py-3 py-sm-4">
						  <div class="d-flex justify-content-between align-items-center">
							<div class="statistics-icon">
								<i class="icon-user"></i>
							</div>
							<div class="statistics-detail">
								<p class="stat-text">Total Customers </p>
								<h3 class="  number"><%=totalCustomer%><small> This Month</small></h3>
							</div>
						</div>
						
					  </div>
					</div>
					<div class="col-sm-6 ">
					  <div class="statistics-grid card bg-light-danger px-4 py-3 py-sm-4">
						  <div class="d-flex justify-content-between align-items-center">
							<div class="statistics-icon">
								<i class="icon-people"></i>
							</div>
							<div class="statistics-detail">
								<p class="stat-text">Cancelled Orders</p>
								<h3 class=" number"><%=totalCancelled%><small> This Month</small></h3>
							</div>
						</div>
						
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			<!-- Statistics data -->
			<div class="row">
				<div class="col-md-6">
					<div id="piechart" style="width: 500px; height: 500px;"></div>
				</div>
				<div class="col-md-6">
					<div id="donutchart" style="width: 500px; height: 500px;"></div>
				</div>
			</div>
			
			<div id="columnchart_values" style="width: 900px; height: 300px;"></div>


			<div class="row">
				<div class="col-xl-8 col-lg-7">
					<div class="card">
						<div class="card-header">
							<div class="card-head-row">
								<div class="card-title"><i class="fas fa-shopping-cart"></i> Latest Orders</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive table-hover table-sales">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Address</th>
											<th>Customer</th>
											<th>Status</th>
											<th>Date Added</th>
											<th>Total</th>
											
										</tr>
									</thead>
									<tbody>
										<%for(var i of order){%>
										<tr>
											<td><%=i.deliverydetails.address%></td>
											<td><%=i.deliverydetails.pincode%></td>
											<td><span class="badge badge-success"><%=i.status%></span></td>
											<td><%=i.date%></td>
											<td><%=i.totalamount%></td>
											
										</tr>
										<%}%>
									</tbody>
								</table>
							</div>
							<div class="">
								<a  href="/admin/view-order" class="btn btn-primary btn-round">View All Orders</a>
							</div>
						</div>
					</div>
				</div>
				
					
				</div>
			</div>
	
		</div>
	</div>
	
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
	  let cod= '<%=cod%>'
	 cod= parseInt(cod)
	  console.log(cod)
	  let RazorPay='<%=RazorPay%>'
	  RazorPay = parseInt(RazorPay)
	  console.log(RazorPay)
	  let paypal='<%=paypal%>'
	  paypal = parseInt(paypal)
	  console.log(paypal)
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Payment-Method', 'Order'],
          ['COD', cod],
          ['RazorPay',RazorPay],
          ['Paypal',paypal]
        
        ]);

        var options = {
          title: 'Payment Details',
          legend: 'none',
          pieSliceText: 'label',
          slices: {  4: {offset: 0.2},
                    12: {offset: 0.3},
                    14: {offset: 0.4},
                    15: {offset: 0.5},
          },
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
	  let placed = '<%=placed%>'
	  placed = parseInt(placed)
	  let delivered ='<%=delivered%>'
	  delivered = parseInt(delivered)
	  let cancelled = '<%=cancelled%>'
	  cancelled = parseInt(cancelled)
	  let shipped = '<%=shipped%>'
	  shipped = parseInt(shipped)
	  console.log(placed,delivered,cancelled,shipped)
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Status', 'Order'],
          ['Placed', placed],
          ['Delivered', delivered],
          ['Cancelled', cancelled],
          ['Shipped', shipped]
         
        ]);

        var options = {
          title: 'Order Status',
          pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
      }
    </script>
  
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
	let Sales = '<%=weeklyReport%>'
	Sales = Sales.split(',')
	let colorArray = ['red', 'blue', 'cyan', 'black', 'green', 'grey', 'gold','blue']
	let dataArray = []
	for(let i=0; i<16; i+=2){
		dataArray.push([  `${Sales[i]}`, parseInt(Sales[i+1]), colorArray[i/2]])
		
	}
	console.log(Sales);
	console.log(dataArray);

    function drawChart() {
	
      var data = google.visualization.arrayToDataTable([
        ["Element", "Orders", { role: "style" } ],
        // ["Copper", 8.94, "#b87333"],
        // ["Silver", 10.49, "silver"],
        // ["Gold", 19.30, "gold"],
        // ["Platinum", 21.45, "color: #e5e4e2"]
		...dataArray
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Density of Precious Metals, in g/cm^3",
        width: 600,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  </script>


  
