<div class="main-panel">
      <div class="content">
            <div class="panel-header bg-white shadow-sm">
                  <div class="page-inner  py-3 mb-5">
                        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                              <div class="">
                                    <div class="header d-sm-flex align-items-center  text-center"> 
                                <h1 class="page-header banner-title">Category</h1>
                                         			
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>

            <div class="page-inner">
                  <div class="row">
                        <div class="col-md-12">
                             
                              <div class="card">
                                    
                                    <div class="card-body">
                                          <div class="table-responsive">
                                                
                                                <table id="multi-filter-select" class="display table table-hover" >
                                                  
                                                      <thead>
                                                            <tr>
                                                                  <th>Category</th>
                                                                  <th>Subcategory</th>
                                                                 
                                                            </tr>
                                                      </thead>
                                                      <tbody>
                                                            <% for (var items of categories) { %> 
                                                            <tr>
                                                                  <td><%=items.categoryname %> <a class="btn btn-danger" href="/admin/deletecat/<%=items._id %>"onclick= "return confirm('Are you sure you want to delete this category')">delete</a></td> 
                                                                  
                                                                  <td>
                                                                       <% for( var i of items.subcategory){ %>

                                                                        <p><%= i %></p> <a class="btn btn-danger" href="/admin/deletesubcat/<%=items._id %>/<%= i %>"onclick= "return confirm('Are you sure you want to delete this subcategory')">delete</a>
                                                                        <% }%>
                                                                  </td>
                                                            
                                                            </tr>
                                                          
                                                            <% } %>
                                                      </tbody>
                                                    
                                                    
                                                </table>
                                               
                                          </div>
                                    </div>
                              </div>
                             
                        </div>
                  </div>
            </div>
      </div>
      <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row justify-content-between">
                                <div class="card-title"><i class="fas fa-pen"></i> Manage Category</div>
                            
                            </div>
                        </div>
                        
                        <div class="card-body">
                              <form id="category-form" >
                              <div class="input-box form-group required">
                                    <div class="row">
                                          <label for="p-name" class="col-md-3 control-label">Add Category</label>
                                          <p id="error1" style="color: red;"></p>
                                          <div class="col-md-9">
                                            <input type="text" name="categoryname" class="form-control" id="name1"  placeholder="category name">
                                          </div>
                                       
                                    </div>
                                    <button id="button" type="submit" class="btn btn-danger">Add category</button>
                                    <p id="error3" style="color: red;"></p>
                              </form>
                            <form id="subcategory-form" class="main-form full" action="/admin/category" onsubmit="return addCategory()" method="POST">
                                  <div class="row">
                                    <div class="col-12">
                                          <div class="input-box form-group required"><label for="">
                                                Add Subcategory
                                          </label>
                                                <div class="row">
                                                      <label for="p-name" class="col-md-3 control-label">Choose Category</label>
                                                      <div class="col-md-9">
                                                            <select name="category" onclick="chooseCategory()" class="custom-select" id="inputGroupSelect01">
                                                                  <%for(var i of categories){%> 
                                                                  <option ><%=i.categoryname%></option>
                                                                  <%}%>
                                                                </select>
                                                      </div>
                                                </div>
                                              </div>

                                          </div>
                                    </div>
                                    <div class="col-12">
                                          <div class="input-box form-group required">
                                            <div class="row">
                                                  <label for="p-name" class="col-md-3 control-label">Add subcategory</label>
                                                  <div class="col-md-9">
                                                    <input type="text"  name="subcategoryname" class="form-control" id="name2"  placeholder="subcategory name">
                                                    <p id="error2" style="color: red;"></p>
                                                  </div>
                                            </div>
                                          </div>
                                    </div>
                                 <div>
                                    <button id="button" type="submit" class="btn btn-danger">Add subcategory</button>
                                    <p id="error3" style="color: red;"></p>
                                 </div>
                                 
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div> 
<script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/custom.js"></script>
	<script >
		$(document).ready(function() {
			$('#multi-filter-select').DataTable( {
				"pageLength": 6,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value="">All</option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});
		});
	</script>
      <script>
  
          let nameChecking = false
            $(document).ready(function(){
                  $("#name1").on('input',function(){
		   this.value=this.value.replace(/[^A-Za-z-,.;'&/.() ]|^ /g,'')
		   let name = this.value
		   let nameregex = /^[A-Za-z]+$/
		   if(name.match(nameregex)&&name.length<3){
			   $("#error1").html("enter minimum 3 charaters");
			   nameChecking = false;
		   }
		   else if(name.includes("  ")){
			   $("#error1").html("invalid ");
			   nameChecking = false;
		   }
	       else if(name.match(nameregex)){
		   $("#error1").html("");
		   nameChecking = true;
	            }
		   
	       })
             $("#name2").on('input',function(){
		   this.value=this.value.replace(/[^A-Za-z-,.;'&/.() ]|^ /g,'')
		   let name = this.value
		   let nameregex = /^[A-Za-z]+$/
		   if(name.match(nameregex)&&name.length<3){
			   $("#error2").html("enter minimum 3 charaters");
			   nameChecking = false;
		   }
		   else if(name.includes("  ")){
			   $("#error2").html("invalid ");
			   nameChecking = false;
		   }
	       else if(name.match(nameregex)){
		   $("#error2").html("");
		   nameChecking = true;
	            }
		   
	       })
            
            })
            
            
            
                      
            
            function addCategory(){
                  
            if(nameChecking){
                  return true
            }else{
                  $("#error3").html("fill all feilds in format") 
                  return false
            }
            }
            
            </script> 
            <script>
            function chooseCategory(){

            }
            </script>
            <script>
                  $("#category-form").submit((e)=>{
                        e.preventDefault()
                        $.ajax({
                              url:'/admin/category',
                              method:'post',
                              data:$("#category-form").serialize(),
                              success:(response)=>{
                                    if(response==null){
                                          window.location.reload()
                                    }else {
                                          swal("Warning!", "category already exist!", "error");
                                    }
                              }
                        })
                  })
            </script>
            <script>
                  $("#subcategory-form").submit((e)=>{
                        e.preventDefault()
                        $.ajax({
                              url:'/admin/subcategory',
                              method:'post',
                              data:$("#subcategory-form").serialize(),
                              success:(response)=>{
                                    console.log(response)
                                    if(!response){
                                          window.location.reload()
                                    }else {
                                          swal("Warning!", "subcategory already exist!", "error");
                                    }
                              }
                        })
                  })
            </script>