<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-white shadow-sm">
            <div class="page-inner  py-3 mb-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div class="">
                        <div class="header d-sm-flex align-items-center  text-center"> 
                            <h1 class="page-header banner-title">Coupons List</h1>
                            <ul class="breadcrumb justify-content-sm-start justify-content-center">
                                  <li><a href="../index.html"><i class="icon-home"></i></a></li>
                                  <li><a href="#">Coupons</a></li>
                                  <li><a href="#">Coupons List</a></li>
                            </ul> 			
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner transaction-details">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row justify-content-between">
                                <div class="card-title"><i class="fas fa-list"></i> Coupons List</div>
                                <div class="add-btn">
                                    <a class="btn btn-primary" href="/admin/create-coupon" data-toggle="tooltip" title="" data-original-title="Create Coupon"><i class="fas fa-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card-body">
                            <div class="table-responsive dataTables_scroll">
                                <table id="basic-datatables" class="display table table-hover table-fixed" >
                                    <thead>
                                        
                                        <tr>
                                            <th>Coupan Name</th>
                                            <th>Coupan Code</th>
                                            <th>Discount </th>
                                            <th>Maximum Discount</th>
                                            <th>Max Purchase</th>
                                            <th>End Date</th>
                                            <th class="text-right">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%for(var i of result){%>
                                        <tr>
                                            <td><%=i.couponname%></td>
                                            <td><%=i.couponcode%></td>
                                            <td><%=i.couponname%></td>
                                            <td><%=i.discount%>%</td>
                                            <td><%=i.maxdiscount%></td>
                                            <td><%=i.maxpurchase%></td>
                                            <td><%=i.enddate%></td>
                                            <%if(i.status==true){%>
                                            <td>Enabled</td>
                                            <%}else{%>
                                                <td>Disabled</td>
                                                <%}%>
                                            <td class="text-right">
                                                <div class="form-button-action">
                                                  
                                                    <a  href="/admin/delete-coupons?id=<%=i._id%>" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                        <i class="fa fa-times"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>