

<!-- Breadcrumb Section Start -->
<div class="section">
  <!-- Breadcrumb Area Start -->
  <div class="breadcrumb-area bg-light">
    <div class="container-fluid">
      <div class="breadcrumb-content text-center">
        <h1 class="title">Shopping Cart</h1>
        <ul>
          <li>
            <a href="index.html">Home </a>
          </li>
          <li class="active">Shopping Cart</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Breadcrumb Area End -->
</div>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Start -->
<%if(products.length==0){%>
  <div class="row d-flex justify-content-center">
  <div class="card px-4 pt-5  mt-4" style="width: 18rem;">
    <img class="card-img-top" src="https://www.nicepng.com/png/detail/322-3224210_your-cart-is-currently-empty-empty-shopping-cart.png" alt="Card image cap">
    <div class="card-body">
      <h1 class="card-text">Your Cart is Empty</h1>
    </div>
  </div>
</div>
  <%}else{%>
<div class="section section-margin">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Cart Table Start -->
        <div class="cart-table table-responsive">
         
          <table class="table table-bordered">
            <!-- Table Head Start -->
            <thead>
              <tr>
                <th class="pro-thumbnail">Image</th>
                <th class="pro-title">Product</th>
                <th class="pro-price">Price</th>
                <th class="pro-quantity">Quantity</th>
                <th class="pro-quantity">Subtotal</th>
                <th class="pro-remove">Remove</th>
              </tr>
            </thead>
            <!-- Table Head End -->

            <!-- Table Body Start -->
            <tbody>
              <%for(var item in products){%>
             
              <tr>
                <td class="pro-thumbnail">
                  <a href="#"
                    ><img
                      class="img-fluid"
                      style="width: 200px; height: 150"
                      src=" /product-images/image1/<%=products[item].cartproducts.image1 %>.jpg"
                      alt="Product"
                  /></a>
                </td>
                <td class="pro-title">
                  <a href="#"><%=products[item].cartproducts.productname%> <br /></a>
                </td>
                <td class="pro-price">
                  <%if(products[item].cartproducts.offerprice){%>
                    <span  id="price<%=products[item].cartproducts._id%>"><%=products[item].cartproducts.offerprice%> </span>
                  <%}else{%>
                    <span  id="price<%=products[item].cartproducts._id%>"><%=products[item].cartproducts.price%> </span>
                    <%}%>
                </td>

                <td class="pro-quantity">
                  <div class="input-group">
                    <%if(products[item].products.quantity<=1){%> 
                    <input
                     class="button-minus"
                      type="button"
                      onclick="changeQuantity('<%=products[item]._id%>','<%=products[item].cartproducts._id%>',-1)"
                      value="-"
                      id="minus<%=products[item].cartproducts._id%>"
                      disabled
                      data-field="quantity"
                    />
                  
                  <%}else{%>


                    <input
                    class="button-minus"
                     type="button"
                     onclick="changeQuantity('<%=products[item]._id%>','<%=products[item].cartproducts._id%>',-1)"
                     value="-"
                     id="minus<%=products[item].cartproducts._id%>"
                     data-field="quantity"
                   />

                    <%}%>
                      
                            <input
                              id="qty+<%=products[item].cartproducts._id%>"
                              value="<%=products[item].products.quantity%>"
                              type="number"
                              step="1"
                              max=""
                              value="1"
                              name="quantity"
                              class="quantity-field"
                             disabled
                             />


                      
                    <input
                      type="button"
                      onclick="changeQuantity('<%=products[item]._id%>','<%=products[item].cartproducts._id%>',1)"
                      value="+"
                      class="button-plus"
                      data-field="quantity"
                    />
                  </div>
               
                </td>
                
                <td ><span id="sub+<%=products[item].cartproducts._id%>"><%=total[item].subtotal%></span></td>
                <td class="pro-remove">
                  <a
                    onclick="deletItem('<%=products[item].cartproducts._id%>','<%=products[item].user%>')"
                    ><i class="pe-7s-trash"></i
                  ></a>
                </td>
              </tr>

              <%}%>
            </tbody>
            <!-- Table Body End -->
          </table>
         
        </div>
        <!-- Cart Table End -->

        <!-- Cart Update Option Start -->
        <div
          class="cart-update-option d-block d-md-flex justify-content-between"
        >
        
         
          <!-- Cart Update End -->
        </div>
        <!-- Cart Update Option End -->
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5 ms-auto col-custom">
        <!-- Cart Calculation Area Start -->
        <div class="cart-calculator-wrapper">
          <!-- Cart Calculate Items Start -->
          <div class="cart-calculate-items">
            <!-- Cart Calculate Items Title Start -->
            <h3 class="title">Cart Totals</h3>
            <!-- Cart Calculate Items Title End -->

            <!-- Responsive Table Start -->
            <div class="table-responsive">
              <table class="table">
               
                <tr>
                </tr>
               
                <tr>
                  <td>Shipping</td>
                  <td></td>
                </tr>
                <tr class="total">
                  <td>Total</td>
                 
                  <td id="total" class="total-amount"><%=totalAmount%></td>
                  
                </tr>
              </table>
            </div>
            <!-- Responsive Table End -->
          </div>
          <!-- Cart Calculate Items End -->

          <!-- Cart Checktout Button Start -->
          <a
            href="/checkout"
            class="btn btn-dark btn-hover-primary rounded-0 w-100"
            >Proceed To Checkout</a
          >
          <!-- Cart Checktout Button End -->
        </div>
        <!-- Cart Calculation Area End -->
      </div>
    </div>
  </div>
</div>
<%}%>
<!-- Shopping Cart Section End -->
<script>

 






  function changeQuantity(cartId, proId, count) {
    var product = proId;
    let currentQuantity = document.getElementById(`qty+${product}`).value;
   currentQuantity =parseInt(currentQuantity)

    console.log(currentQuantity+"old");
    var price = document.getElementById(`price${product}`).innerHTML
    price =parseInt(price)


    let totalPrice = document.getElementById("total").innerHTML
    totalPrice = parseInt(totalPrice)


    let newSubTotal;
    
    if(count==1){
        document.getElementById(`minus${product}`).disabled = false
     }else{
       if(currentQuantity-1==1){
        document.getElementById(`minus${product}`).disabled = true
       }
     }
    $.ajax({
      url: "/change-quantity",
      data: {
        cart: cartId,
        product: proId,
        count: count,
      },
      method: "post",
      success(response) {
        if (count==1) {
            
          let newQuantity = parseInt(currentQuantity) + 1;
          console.log(newQuantity+"new")
             document
            .getElementById(`qty+${product}`)
            .setAttribute("value", newQuantity);

                newSubTotal = newQuantity * price
              document.getElementById(`sub+${product}`).innerHTML = newSubTotal;
              document.getElementById("total").innerHTML = totalPrice + newSubTotal
        } else {
          // if(currentQuantity<=1){
          //   document.getElementById("minus").disabled = true
          // }

          
          let newQuantity = parseInt(currentQuantity)-1
           newSubTotal = newQuantity * price
                   
          let v = document
            .getElementById(`qty+${product}`)
            .setAttribute("value", newQuantity);
            document.getElementById("total").innerHTML = totalPrice - newSubTotal
            document.getElementById(`sub+${product}`).innerHTML = newSubTotal;
        }
      },
    });
  }
</script>

<script>
  function deletItem(proId, userId) {
    swal({
  title: "Are you sure?",
  text: "Once deleted, you will not be able to recover this imaginary file!",
  icon: "warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    $.ajax({
      url: "/delete-cart-item",
      data: {
        proId: proId,
        userId: userId,
      },
      method: "post",
      success: (response) => {
        if (response) {
          window.location.reload();
        }
      },
      error: () => {},
    });

  } 
});
    
  }
</script>
<script>

</script>
