<div class="main-panel">
    <div class="content">
        <div class="panel-header bg-white shadow-sm">
            <div class="page-inner  py-3 mb-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div class="">
                        <div class="header d-sm-flex align-items-center  text-center"> 
                            <h1 class="page-header banner-title">Order history</h1>
                            <ul class="breadcrumb justify-content-sm-start justify-content-center">
                                  <li><a href="../index.html"><i class="icon-home"></i></a></li>
                            </ul> 			
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row justify-content-between">
                                <div class="card-title"><i class="fas fa-list"></i> Products List</div>
                              
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="multi-filter-select" class="display table table-hover" >
                                 
                                    <thead>
                                        
                                        <tr>
                                            
                                            <th>Date</th>
                                            <th>Address</th>
                                            <th>Pincode</th>
                                            <th>Mobile</th>
                                            <th>Amount</th>
                                             
                                            <th>Status</th>
                                            <th>Manage</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                       <%for(var key of order){%>
                                        <tr>
                                            <td><%=key.date%></td>
                                            <td><%=key.deliverydetails.address%></td>
                                            <td><%=key.deliverydetails.pincode%></td>
                                            <td><%=key.deliverydetails.phone%></td>
                                            <td><%=key.totalamount%></td>
                                            <td><%=key.status%></td>
                                            <%if(key.status=='cancelled' || key.status=='admin cancelled'){%>
                                            <td><a class="btn btn btn-dark btn-hover-primary btn-sm rounded-0" href="/view-order?id=<%=key._id%>">View order</a></td>
                                            <%}else{%>
                                                <td><a class="btn btn btn-warning btn-hover-danger btn-sm rounded-0"  onclick="cancelOrder('<%=key._id%>')">Cancel order</a></td>
                                                <td><a class="btn btn btn-dark btn-hover-primary btn-sm rounded-0" href="/view-order?id=<%=key._id%>">View order</a></td>
                                            <%}%>
                                          <%}%>
                                        </tr>
                                        </tbody>
                                        
                                       
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://aaryaweb.info/html/stylexpo/admin/assets/js/custom.js"></script>
	<script >
		$(document).ready(function() {
			$('#multi-filter-select').DataTable( {
				"pageLength": 6,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value="">All</option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});
		});
	</script>
    <script>
        function cancelOrder(orderId){
            
            $.ajax({
                url:'/cancel',
                data:{
                    orderId:orderId
                },
                method:'post',
                success:(response)=>{
                    
                    if(response.status){
                       
                        window.location.reload()
                    }
                }

            })
        }
    </script>